In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset=pd.read_csv("Social_Network_Ads.csv")

In [3]:
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [5]:
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [6]:
indep=dataset[["Gender_Male","Age",'EstimatedSalary']]
dep=dataset[["Purchased"]]

In [7]:
dataset["Purchased"].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(indep,dep,test_size=1/3,random_state=0)

In [9]:
X_train

     Gender_Male  Age  EstimatedSalary
218            0   46            96000
101            1   28            59000
311            1   39            96000
194            1   28            89000
326            1   41            72000
..           ...  ...              ...
323            0   48            30000
192            1   29            43000
117            1   36            52000
47             0   27            54000
172            0   26           118000

[266 rows x 3 columns]

In [10]:
from sklearn.model_selection import GridSearchCV
from sklearn.naive_bayes import MultinomialNB
param_grid={'alpha':[1,0,2,3,4], 'class_prior': [None]}
grid= GridSearchCV(MultinomialNB(), param_grid, refit= True, verbose=3, n_jobs=-1, scoring= 'f1_weighted' )
grid.fit(X_train,y_train)

Fitting 5 folds for each of 5 candidates, totalling 25 fits

C:\Anaconda3run\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(estimator=MultinomialNB(), n_jobs=-1,
             param_grid={'alpha': [1, 0, 2, 3, 4], 'class_prior': [None]},
             scoring='f1_weighted', verbose=3)

In [11]:
y_pred=grid.predict(X_test)

In [12]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
cm

array([[85,  0],
       [49,  0]], dtype=int64)

In [13]:
from sklearn.metrics import classification_report
clf_report=classification_report(y_test,y_pred)

C:\Anaconda3run\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Anaconda3run\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Anaconda3run\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [14]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.63      1.00      0.78        85
           1       0.00      0.00      0.00        49

    accuracy                           0.63       134
   macro avg       0.32      0.50      0.39       134
weighted avg       0.40      0.63      0.49       134

In [15]:
from sklearn.metrics import roc_auc_score
roc_score= roc_auc_score(y_test,grid.predict_proba(X_test)[:,1])
roc_score

0.5846338535414165

In [16]:
print ( " the best parameter is ", grid.best_params_)

 the best parameter is  {'alpha': 1, 'class_prior': None}

In [17]:
grid.cv_results_

{'mean_fit_time': array([0.02393694, 0.02991958, 0.0127634 , 0.01296568, 0.01256762]),
 'std_fit_time': array([0.00907452, 0.0136312 , 0.00146413, 0.00267619, 0.00337363]),
 'mean_score_time': array([0.05505748, 0.02074437, 0.01874981, 0.01795902, 0.01795139]),
 'std_score_time': array([0.03556257, 0.00501853, 0.00410689, 0.00308657, 0.00308959]),
 'param_alpha': masked_array(data=[1, 0, 2, 3, 4],
              mask=[False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_class_prior': masked_array(data=[None, None, None, None, None],
              mask=[False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'alpha': 1, 'class_prior': None},
  {'alpha': 0, 'class_prior': None},
  {'alpha': 2, 'class_prior': None},
  {'alpha': 3, 'class_prior': None},
  {'alpha': 4, 'class_prior': None}],
 'split0_test_score': array([0.50977944, 0.50977944, 0.50977944, 0.50977944, 0.50977944]),
 'split1_test_score': array([0.56708786, 0.56708786, 0.56708786, 0.56708786, 0.56708786]),
 'split2_test_score': array([0.59031293, 0.59031293, 0.59031293, 0.59031293, 0.59031293]),
 'split3_test_score': array([0.63583372, 0.63583372, 0.63583372, 0.63583372, 0.63583372]),
 'split4_test_score': array([0.55700406, 0.55700406, 0.55700406, 0.55700406, 0.55700406]),
 'mean_test_score': array([0.5720036, 0.5720036, 0.5720036, 0.5720036, 0.5720036]),
 'std_test_score': array([0.04130499, 0.04130499, 0.04130499, 0.04130499, 0.04130499]),
 'rank_test_score': array([1, 1, 1, 1, 1])}

In [18]:
re=grid.cv_results_

In [19]:
table= pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_alpha,param_class_prior,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.023937,0.009075,0.055057,0.035563,1,None,"{'alpha': 1, 'class_prior': None}",0.509779,0.567088,0.590313,0.635834,0.557004,0.572004,0.041305,1
1,0.029920,0.013631,0.020744,0.005019,0,None,"{'alpha': 0, 'class_prior': None}",0.509779,0.567088,0.590313,0.635834,0.557004,0.572004,0.041305,1
2,0.012763,0.001464,0.018750,0.004107,2,None,"{'alpha': 2, 'class_prior': None}",0.509779,0.567088,0.590313,0.635834,0.557004,0.572004,0.041305,1
3,0.012966,0.002676,0.017959,0.003087,3,None,"{'alpha': 3, 'class_prior': None}",0.509779,0.567088,0.590313,0.635834,0.557004,0.572004,0.041305,1
4,0.012568,0.003374,0.017951,0.003090,4,None,"{'alpha': 4, 'class_prior': None}",0.509779,0.567088,0.590313,0.635834,0.557004,0.572004,0.041305,1

In [20]:
grid.best_score_

0.5720036018162338

In [22]:
pre_input= ([[0,35,60000]])

In [23]:
result= grid.predict(pre_input)
result

C:\Anaconda3run\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but MultinomialNB was fitted with feature names
  warnings.warn(

array([0], dtype=int64)